.navigation {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;

    a {
        color: $color-1;
    }

    .nav-active {
            border-bottom: 1px solid $color-1;
    }

    @media screen and (max-width: 870px) {
        width: 150px;
        font-size: 1em;
    }
}