.card {
    margin-top: 52px;
    width: 340px;
    height: 340px;
    position: relative;
    cursor: pointer;
    
    &:hover img {
        transform: scale(1.05);
        filter: brightness(80%);
        transition: 0.5s ease-in-out;
    }

    img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 25px;
    }

    h2 {
        margin-left: 18px;
        margin-bottom: 20px;
        position: absolute;
        bottom: 0;
        font-size: 1.1em;
        z-index: 10;
    }
}