.logements {
    border-radius: 25px;
    background: rgba(246, 246, 246, 1);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding-left: 52px;
    padding-right: 52px;
}